@import '../../styles/abstracts';
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h1{
        margin-bottom: 25px;
        
    }
    .col60{
        width: 60%;
        display: inline-flex;
        flex-direction: column;
    }
    .col40{
        width: 40%;
    }
    p{
        padding: 0 30px;
        word-spacing: 10px;
        line-height: 35px;
    }
    .img-content{
        position: relative;
        max-width: 512px;
        width: 100%;
        min-width: 310px;
        img {
            width: 100%;
            display:inline-block;
        }
        #vawe{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
.mto{
    margin-top: 60px;
}