<div class="navbar" @entering >
    <input aria-label="toggler" (click)="toggle()" type="checkbox">
    <span> </span>
    <div class="nav-items">
        <ul>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">About Me</a></li>
            <li><a routerLink="myworks" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">My Works</a></li>
            <li><a routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Contacts</a></li>
        </ul>
    </div>
</div>
