@import '../../../styles/abstracts';
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    @include responsive(t){
        flex-direction: column;
    }
    h1{
        margin-bottom: 25px;
        min-width: 280px;
    }
    p{
        min-width: 280px;
        i{
            margin-top: 24px;
            margin-left: 24px;
            color: rgb(46, 46, 46);;
            transform: scale(2);
            transition: all .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            &:hover{
                color: black;
            }
        }
    }
    .col60{
        width: 50%;
        @include responsive(t){
            width: 90%;
        }
        display: inline-flex;
        flex-direction: column;
    }
    .col50{
        width: 40%;
        @include responsive(t){
            width: 90%;
        }
        width: 60%;
    }
    .col40{
        width: 30%;
        @include responsive(t){
            width: 90%;
        }
    }
    p{
        padding: 0 30px;
        word-spacing: 10px;
        line-height: 35px;
    }
    .img-content{
        position: relative;
        max-width: 512px;
        width: 100%;
        min-width: 310px;
        img {
            width: 100%;
            display:inline-block;
        }
        #vawe{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
.mto{
    margin-top: 60px;
}